<div class="card">
    <div class="card-header">
        <h3>Editar Categoría</h3>
    </div>
    <form (ngSubmit)="guardarCategoria()" method="POST">
        <div class="card-body">
            <div class="mb-3">
                <label for="idCategory" class="form-label">ID:</label>
                <input type="text" class="form-control" id="idCategory" name="idCategory" readonly [(ngModel)]="IdCategory">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre de la Categoría:</label>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="Name">
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-secondary m-1" (click)="goBack()">Volver</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>


