
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="goBack()">Libreria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" routerLink="books" >Libros</a></li>
                        <li><a class="dropdown-item" routerLink="categories" >Categorias</a></li>
                        <li><a class="dropdown-item" routerLink="customers">Clientes</a></li>
                        <li><a class="dropdown-item" routerLink="employees">Empleados</a></li>
                    </ul>
                </li>
                <li class="nav-item "><a class="nav-link" > Ventas realizadas</a></li>
                <li  class="nav-item" >
                    <a class="nav-link active" routerLink=""><i class="bi bi-box-arrow-right"></i></a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

  

